<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="com.example.darkoandreev.dobritesasedi">
    <uses-permission android:name="android.permission.INTERNET" ></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dobrite_sasedi_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:configChanges="orientation">

        <supports-screens
            android:smallScreens="true"
            android:normalScreens="true"
            android:largeScreens="true"
            android:anyDensity="true" />

        <activity android:name="com.example.darkoandreev.dobritesasedi.Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.darkoandreev.dobritesasedi.ClientDocuments"
            android:label="@string/client_doc"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name="com.example.darkoandreev.dobritesasedi.PartidiView"
            android:label="@string/partidi_string"
            android:configChanges="orientation">
        </activity>

        <activity
            android:name="com.example.darkoandreev.dobritesasedi.PaymentsView"
            android:label="@string/plashtane_string"
            android:configChanges="orientation">
        </activity>

        <activity
            android:name="com.example.darkoandreev.dobritesasedi.InvoicesView"
            android:label="Фактура"
            android:configChanges="orientation">
        </activity>



    </application>

</manifest>